@charset "UTF-8";
/* CSS Document */
html{-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; height:100%;}
*{-webkit-tap-highlight-color:transparent;outline:0;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;vertical-align:baseline}
i,em{font-style:normal}
ol,ul{list-style:none}
input,select,button,h1,h2,h3,h4,h5,h6{font-size:100%;font-family:inherit}
a,a:visited{text-decoration:none;color:#333}
body{margin:0 auto; min-width:320px; max-width:640px; position:relative;height:100%;background:#eef2f7;font-size:14px;font-family:Helvetica,STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;line-height:1.5;color:#1e1e1e;-webkit-text-size-adjust:100% !important;-webkit-user-select:none;user-select:none; position:relative;}
img{ width:100%; height:auto;border:none; interpolation-mode: bicubic;border:0;vertical-align:top}
.txt-center{ text-align:center;}
.txt-justify{ text-align:justify; text-justify:inter-ideograph;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,div,p,ul,dl,dt,dd{display:block;padding:0px; margin:0px auto; border:none;}
a,button,input,i{-webkit-tap-highlight-color:rgba(0,0,0,0); -moz-tap-highlight-color:rgba(0,0,0,0); -ms-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0);} 
section{ width:640px; position:relative;background:#fff}
.yellow{ color:#ffff26}
.ht50{ height:50px;}
.gray{-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);filter: grayscale(100%); filter: gray; opacity:.6}

.state{ overflow:hidden; width:90%; position:relative; padding:10px 0;}
.state dl{ float:left; overflow:hidden; width:25%; height:60px; padding:5px 0; text-align:center;}
.state dl dt{ font-size:16px;}
.state dl dt.green{color:#26da83}
.state dl dd{ padding:5px 0; color:#26da83}
.state dl.cs dd{ font-size:40px; line-height:40px; text-align:right;-webkit-transform:scale(1,1.8);}
.state .wendu{ width:200px; position:absolute; top:0px; left:50%; margin-left:-100px; text-align:center; color:#26da83; font-size:18px;}
.state .wendu span{ font-size:50px;}

h1.title{ padding:2% 4%; background:#eef2f7;border-bottom:#d4d9de 1px solid; border-top:#d4d9de 1px solid}
.tempbox{ width:100%; overflow:hidden;}
.tempbox li{ float:left;  width:50%; margin-left:-1px; border-left:#d4d9de 1px solid}
.tempbox li button{ width:100%; border:0; padding:10% 0; background:#fff}
.tempbox li button img{ width:12%; border:0; background:#fff}

.pattern{ width:70%; position:relative; padding:20px 0 10px; }
.patterncon{ width:100%; height:0px; position:absolute; position:20px; height:8px; border-bottom:#e3e3e3 4px solid}
.pattern ul{ width:118%; overflow:hidden; margin-left:-9%}
.pattern ul li{ float:left; width:20%; overflow:hidden;}
.pattern ul li em{ display:block; width:16px; height:16px; border-radius:50%; margin:auto; border:#fff 2px solid; background:#e3e3e3;}
.pattern ul li .radio { display:none; }
.pattern ul li .trigger {cursor: pointer;position: relative; display:block;width:70%; line-height:34px;border-radius:8px;  -webkit-transition:background .15s linear;transition:background .15s linear; text-align:center;margin:auto; }
.pattern ul li .radio:checked + .trigger{ color:#26da83}
.pattern ul li .radio:checked + .trigger em{ background:#26da83}


.func{ overflow:hidden}
.func li{ float:left; width:25%; padding:3% 0 2%; border-left:#d4d9de 1px solid; margin-left:-1px; text-align:center}
.func li em{ display:block; width:50px; height:50px; margin:auto}
.func li em.ico1{ background:url(../images/gn1_a.png) no-repeat center; background-size:80%}
.func li em.ico2{ background:url(../images/gn2_a.png) no-repeat center; background-size:80%}
.func li em.ico3{ background:url(../images/gn3_a.png) no-repeat center; background-size:80%}
.func li em.ico4{ background:url(../images/gn4_a.png) no-repeat center; background-size:80%}
.func li em.ico5{ background:url(../images/gn5_a.png) no-repeat center; background-size:94%}
.func li em.ico6{ background:url(../images/gn6_a.png) no-repeat center; background-size:80%}
.func .radio { display:none; }
.func .trigger {cursor: pointer;position: relative; display:block;width:90%; line-height:34px;  -webkit-transition:background .15s linear;transition:background .15s linear; text-align:center;margin:auto; }
.func .radio:checked + .trigger{ color:#26da83}
.func .radio:checked + .trigger em.ico1{background:url(../images/gn1_b.png) no-repeat center; background-size:80%}
.func .radio:checked + .trigger em.ico2{background:url(../images/gn2_b.png) no-repeat center; background-size:80%}
.func .radio:checked + .trigger em.ico3{background:url(../images/gn3_b.png) no-repeat center; background-size:80%}
.func .radio:checked + .trigger em.ico4{background:url(../images/gn4_b.png) no-repeat center; background-size:80%}
.func .radio:checked + .trigger em.ico5{background:url(../images/gn5_b.png) no-repeat center; background-size:94%}
.func .radio:checked + .trigger em.ico6{background:url(../images/gn6_b.png) no-repeat center; background-size:80%}
.time{border-top:#d4d9de 1px solid;border-bottom:#d4d9de 1px solid;}
.time li{ width:100%; height:60px;}
.time li em{ display:inline-block; margin:0 10px -20px;}
.time .btn{-webkit-transition:0.3s ease-in-out;transition:0.3s ease-in-out;}
.time .btn em.ico5{background:url(../images/gn5_a.png) no-repeat center; background-size:94%}
.time .on{ color:#26da83; }
.time .on em.ico5{background:url(../images/gn5_b.png) no-repeat center; background-size:94%}
.no_link{ height:40px; line-height:40px; text-align:center; background:#727272; text-align:center; color:#fff; position:relative; z-index:9999}

.footbut{ width:640px; position:fixed; bottom:0; overflow:hidden; z-index:99; box-shadow:#999 1px 1px 5px}
.footbut button{ width:100%; height:50px; border:0; position:relative; text-align:center; color:#000; background:#fff; font-size:16px;tap-highlight-color:rgba(255,255,255,.7);-webkit-tap-highlight-color:rgba(255,255,255,.7)}
.footbut button:active{ background:rgba(255,255,255,.7)}

.mengban{ width:100%; height:100%; display:none; overflow:hidden; text-indent:-9999px; position:fixed; left:0; top:0; z-index:999; background:rgba(0,0,0,.4)}
.mengban_off{ width:100%; height:100%; display:none; overflow:hidden; text-indent:-9999px; position:fixed; left:0; top:0; z-index:9; background:rgba(0,0,0,0)}

@media (max-width:375px){}
@media  (max-width:340px){}
@media (max-height:480px){}
@media (max-width:640px){
section,header{ width:100%; }
.footbut,.fot_nav{ width:100%}
}
.loader{ width:100%; height:100%; position:fixed; top:50px; left:0; z-index:9999; background:rgba(255,255,255,.0); }
.ball-beat{ width:100px; overflow:hidden; text-align:center; position:fixed; height:60px; padding-top:40px; top:40%; left:50%; margin-left:-50px; z-index:9999; background:rgba(0,188,61,.7); border-radius:50%;}

.ball-beat > div {background-color: #fff;width: 15px;height: 15px;border-radius: 100%;margin: 2px;-webkit-animation-fill-mode: both;
 animation-fill-mode: both; display: inline-block; -webkit-animation: ball-beat 0.7s 0s infinite linear;animation: ball-beat 0.7s 0s infinite linear; }
.ball-beat > div:nth-child(2n-1) {-webkit-animation-delay: 0.35s !important;animation-delay: 0.35s !important; }
@-webkit-keyframes ball-beat {
  50% {opacity: 0.2;-webkit-transform: scale(0.75);transform: scale(0.75); }
  100% { opacity: 1;-webkit-transform: scale(1);transform: scale(1); } }
@keyframes ball-beat {
  50% {opacity: 0.2;-webkit-transform: scale(0.75);transform: scale(0.75); }
  100% {opacity: 1;-webkit-transform: scale(1);transform: scale(1); } }




